@font-face {
    font-family: 'Raleway', sans-serif;
    	
}

body
{
	font-family: Raleway, sans-serif;
	width: 100%;
	margin: auto;
}

a
{
	text-decoration: none;
}

a:visited
{
	color: black;
}

header
{
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
}

#logo
{
	padding-top: 30px;
}

#navigation
{
	display: flex;	
}

.boutonnav
{
	display: block;
	width: 162px;
	padding-top: 30px;
	margin: auto;
	margin-top: 0px;
	text-align: center;
	border-top: 2px solid transparent;
}

.boutonnav:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}

.boutoninsc
{
	display: block;
	width: 162px;
	padding-top: 30px;
	color: #0065FC;
	font-weight: bold;
	margin: auto;
	margin-top: 0px;
	text-align: center;
	border-top: 2px solid transparent;
}

.boutoninsc:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}

.boutoninsc:visited
{
	color: #0065FC;
}

main
{
	display: block;
	width: 95%;
	margin: auto;
}

h1
{
	margin-bottom: 0px;
	margin-top: 35px;
}

.subtitle
{
	margin-top: 5px;
}

#formulaire
{
	display: flex;
	align-items: center;
}

.pin
{
	display: flex;
    align-items: center;
    justify-content: center;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	height: 50px;
	padding: 0px 16px;
	background-color: #f1f3f3;
}

.fa-map-marker-alt
{
	display: inline-block;
}

.form
{
	height: 50px;
	border: 1px solid #f1f3f3;
	border-left: 0px;
	border-right: 0px;
	padding-left: 15px;
	font-weight: bold;

}

.search
{
	height: 50px;
	background-color: #0065FC;
	color: white;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	border: 0px;
	padding: 17px;
	cursor: pointer;
	font-weight: bold;
}


#filtresblock
{
	display: flex;
	vertical-align: middle;
	margin-bottom: 20px;
	margin-top: 30px;
}

.filtretitle
{
	display: flex;
	align-items: center;
	text-align: center;
	margin-right: 32px;
	margin-bottom: 0px;
	margin-top: 0px;

}

.filtrebouton
{
	display: flex;
	height: 48px;
	border-radius: 25px;
	border: 2px solid #d7dada;
	align-items: center;
	margin-right: 24px;
	transition: transform .2s;
}

.filtrebouton:hover
{
	transform: scale(1.07);
	background-color: #f2f8ff;
}

.icone
{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 52px;
	width: 52px;
	border-radius: 100%;
	background-color: #d8ebff;
	color: #0065FC;
	margin: -2px;
}

.fas-bouton
{
	display: inline-block;
}

.info
{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0065FC;
	border-radius: 100%;
	border: 1px solid #d9d9d9;
	width: 25px;
	height: 25px;
	margin-right: 12px;
}

.fa-info
{
	display: inline-block;
}

.filtrename
{
	margin-right: 16px;
	margin-left: 16px;
	font-weight: bold;	
	font-size: 1.17em;
}

#resultat
{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.star-blue
{
	color: #0065FC;
}

.star-gray
{
	color: #d7dada;
}

#Hebergementblock
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}

#Hebergementresultat
{
	background-color: #F2F2F2;
	width: 65.7%;
	border-radius: 16px;
	padding: 10px 40px;
	margin-right: 40px;
}

.hebergementitle
{
	margin-top: 30px;
	margin-bottom: 23px;
}

#Hebergementcard
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hebergementlink
{
	display: block;
	width: 28%;
	min-width: 256px;

}

.Hebergementcard
{
	display: block;
	background-color: #FFFFFF;
	border: 5px;
	border-radius: 16px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
	width: 28%;
	min-width: 246px;
	margin-bottom: 30px;
	padding: 6px;

}


.imgheberg
{
	width: 100%;
	object-fit: cover;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	height: 114px;
}

.hotelname
{
	margin: 12px;
}

.hotelprice
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 11px;
}

.afficherplus
{
	margin-top: 20px;
	margin-bottom: 45px;
	font-weight: bold;
	font-size: 1.17em;
}

#Popular
{
	background-color: #F2F2F2;
	width: 31.3%;
	border-radius: 16px;
	padding: 10px 40px;
}

#populartitle
{
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 3.08px;
}

#iconepopular
{
	float: right;
}

#popularcard
{
	display: block;
	background-color: #F2F2F2;
	width: 100%;
}

.popularcard
{
	display: flex;
	background-color: #FFFFFF;
	border: 5px;
	border-radius: 16px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
	width: 100%;
	margin-bottom: 30px;
	padding: 6px;
	height: 144px;
}

.imgpop
{
	width: 127px;
	object-fit: cover;
	border-bottom-left-radius: 16px;
	border-top-left-radius: 16px;
	height: 100%;
	margin-right: 21px;
}

.populartext
{
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.pophotelname
{
	margin-top: 14px;
	margin-bottom: 14px;
}

.popularinfo
{
	display: block;
}

.etoiles
{
	display: block;
	
}

.fa-chart-line
{
	padding-top: 20px;
}

#activitesblock
{
	display: flex;
	justify-content: space-between;
	width: 100%;	
	margin-bottom: 61px;
}

.activitescolumn
{
	display: block;
	width: 22.5%;
	max-height: 445px;
}

.activitescard
{
	display: block;
	border-radius: 16px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
	width: 100%;
	margin-bottom: 30px;

}

.imgactvertical
{
	width: 100%;
	object-fit: cover;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	height: 390px;
}

.imgacthorizontal1
{
	width: 100%;
	object-fit: cover;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	max-height: 180px;
}

.imgacthorizontal2
{
	width: 100%;
	object-fit: cover;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	max-height: 110px;
}

.titleact
{
	display: block;
	padding: 20px;
	margin: 0px;

}

footer
{
	display: block;
	background-color: #F2F2F2;
	width: 100%;	
}

#footercontent
{
	width: 95%;
	display: flex;
	margin: auto;
	padding-bottom: 55px;
}

.footercolumn
{
	display: block;
	width: 34%;
}

.footerlink
{
	display: block;
	margin-bottom: 15px;
}